{% extends 'base.html' %}

{% block content_update %}


<form method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary mt-3">
</form>

<div class="form-group">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
    {{message}}
    </div>
    {% endfor %}
    </div>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      
     
    
  </div>
</div>

<script>
      
      
  var form_fields = document.getElementsByTagName('input')
  var form_fields_select = document.getElementsByTagName('select')
  var form_fields_textarea = document.getElementsByTagName('textarea')
 
  

  for(var field in form_fields){
    form_fields[field].className += 'form-control'
  }

  for(var field in form_fields_select){
    form_fields_select[field].className += 'form-control'
  }



  

  for(var field in form_fields_textarea){
    form_fields_textarea[field].className += 'form-control '
    form_fields_textarea[field].rows = '4'
  }

</script>

 <script>

  $(document).ready(function() {
    $('select').select2();
});

  </script> 

  {% endblock %}